imports:
    - { resource: 'psr2.yml' }
    - { resource: 'php71.yml' }
    - { resource: 'nette-php71.yml' }

parameters:
    exclude_checkers:
        # PSR2 exceptions
        - 'PhpCsFixer\Fixer\Casing\LowercaseConstantsFixer'
    skip:
        # PSR2 exceptions
        PHP_CodeSniffer\Standards\Generic\Sniffs\PHP\LowerCaseConstantSniff.Found: ~
        PHP_CodeSniffer\Standards\PSR2\Sniffs\ControlStructures\ControlStructureSpacingSniff.SpacingAfterOpenBrace: ~
        PHP_CodeSniffer\Standards\PSR2\Sniffs\Methods\FunctionCallSignatureSniff.MultipleArguments: ~
        PHP_CodeSniffer\Standards\Squiz\Sniffs\WhiteSpace\ControlStructureSpacingSniff.SpacingAfterOpenBrace: ~
        PHP_CodeSniffer\Standards\Squiz\Sniffs\WhiteSpace\ControlStructureSpacingSniff.SpacingBeforeClose: ~

services:
    # empty line after <?php
    PhpCsFixer\Fixer\PhpTag\BlankLineAfterOpeningTagFixer: ~
    # empty line after declare(strict_types=1);
    Symplify\CodingStandard\Fixer\Strict\BlankLineAfterStrictTypesFixer: ~
    # require must use absolute path
    Symplify\CodingStandard\Fixer\ControlStructure\RequireFollowedByAbsolutePathFixer: ~
    # The PHP constants `TRUE`, `FALSE`, and `NULL` MUST be in upper case.
    Sunfox\CodingStandard\Fixer\Casing\UppercaseConstantsFixer: ~
    # Classes implementing an interface MUST be final.
    Symplify\CodingStandard\Fixer\Solid\FinalInterfaceFixer: ~
    # There MUST NOT be more than one constant or property declared per statement.
    PhpCsFixer\Fixer\ClassNotation\SingleClassElementPerStatementFixer:
        elements:
            - const
            - property
    # final classes MUST NOT have protected properties
    PhpCsFixer\Fixer\ClassNotation\ProtectedToPrivateFixer: ~
    # set array property default value
    Symplify\CodingStandard\Fixer\Property\ArrayPropertyDefaultValueFixer: ~
    # Last property and 1st method should be separated by 1 space
    PhpCsFixer\Fixer\ClassNotation\ClassAttributesSeparationFixer:
        elements:
            - method
            - property
    # LineLength
    Symplify\CodingStandard\Fixer\LineLength\BreakMethodArgumentsFixer: ~
    Symplify\CodingStandard\Fixer\LineLength\BreakArrayListFixer: ~
    # The uppercase MUST be used for PHP constants in phpdoc.
    Sunfox\CodingStandard\Fixer\Phpdoc\PhpdocConstantFixer: ~
    # Looks for unused imports from other namespaces.
    SlevomatCodingStandard\Sniffs\Namespaces\UnusedUsesSniff:
        searchAnnotations: true
    # detect dead code
    SlevomatCodingStandard\Sniffs\Classes\UnusedPrivateElementsSniff: ~
    # drop dead use namespaces
    PhpCsFixer\Fixer\Import\NoUnusedImportsFixer: ~
    # Debug
    Symplify\CodingStandard\Sniffs\Debug\DebugFunctionCallSniff: ~
